.tile {
    position: relative;
    display: block;
    overflow: hidden;
    border-radius: 8px;
    transition: transform 0.2s ease-in-out;
}

.tile img {
    position: absolute; /* Position the image absolutely within the tile */
    top: 50%; /* Center the image vertically */
    left: 50%; /* Center the image horizontally */
    width: auto; /* Set width to auto */
    height: 100%; /* Make height fill the tile */
    min-width: 100%; /* Ensure the width fills the tile */
    transform: translate(-50%, -50%); /* Center the image */
    object-fit: cover; /* Maintain aspect ratio and fill the area */
    transition: opacity 0.6s ease; /* Transition for smooth effect */
}

.tile:hover img {
    opacity: 0.5; /* Change the opacity on hover (you can adjust this value) */
}

.tile-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 8px;
    color: #6ECCAF;
}

.tile:hover {
    transform: scale(1.05);
}

.tile:hover .tile-overlay {
    opacity: 1;
}

.tile-overlay h3 {
    color: white; /* Change the text color to white */
}
